<% provide(:title, 'プロフィールを編集') %>
<% provide(:button_text, '送信する') %>

<div class="row">
  <div class="col-xs-12">
    <div class="profile_edit">
      <%= gravatar_for @user %>
      <ol class="profile-content">
        <li class="user-name"><%= @user.user_name if @user.user_name %><br></li>
        <li class="gravater-link"><a href="https://gravatar.com/emails" target="_blank">プロフィール画像を変更する</a></li>
        <% if current_user == @user %>
          <li><%= link_to "このアカウントを削除する",@user, method: :delete,
                                  data: { confirm: "削除してよろしいですか?" }, class: "delete-link" %></li>
        <% end %>
      </ol>
    </div>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="profile-box">
        <%= f.label :"名前", class: "profile-name" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"ユーザーネーム", class: "profile-name" %>
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"ウェブサイト", class: "profile-name" %>
        <%= f.text_field :website, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"自己紹介", class: "profile-name" %>
        <%= f.text_area :introduction, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"メールアドレス", class: "profile-name" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"電話番号", class: "profile-name" %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="profile-box">
        <%= f.label :"性別", class: "profile-name" %>
        <%= f.select :sex, { "男性": 1, "女性": 2 }, { include_blank: "選択してください" }, { class: 'form-control'} %>
      </div>
      <div class="profile-btn">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        <%= link_to "パスワードを変更する", password_path(@user), class:"password-link" %>
      </div>
    <% end %>
  </div>
</div>
