<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.user_name %>
      </h1>
      <small>
        名前：<%= @user.name %><br>
        ウェブサイト：<%= @user.website %><br>
        自己紹介：<%= @user.introduction %>
      </small>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <%# フォロー・フォロー中のボタン %>
    <%= render 'follow_form' if logged_in? %>  

    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>

      <%# micropostのリストを推測して表示する %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>

      <%= will_paginate @microposts %>

    <% end %>

  </div>

</div>
