<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-9">
        <ul>
          <li><%= link_to "基本データ", '#' %></li>
          <li><%= link_to "ヘルプ", '#' %></li>
          <li><%= link_to "プレス", '#' %></li>
          <li><%= link_to "API", '#' %></li>
          <li><%= link_to "求人", '#' %></li>
          <li><%= link_to "プライバシー", '#' %></li>
          <li><%= link_to "利用規約", 'https://help.instagram.com/581066165581870' %></li>
          <li><%= link_to "所在地", '#' %></li>
          <li><%= link_to "人気アカウント", '#' %></li>
          <li><%= link_to "ハッシュタグ", '#' %></li>
          <li><%= link_to "言語", '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>